.avatar{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.userprofile{
    margin-top: 100px;
    text-align: center;
    margin-left:30% ;
    border: solid;
    border-radius: 5px;
    width: 100%;
    height: 30%;
}